.bg1 {
    background-image: url(../../public//assets/pic-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url(../../public//assets/pic-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url(../../public//assets/pic-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4 {
    background-image: url(../../public//assets/pic-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}